localhost:4873/:_authToken="M2Q2ODNiYmIyMGYxODViMDg3MzU3OTc5NTMxZGNhMWY6NmFmNTFkNTAwODkzZjhjMWZlZDNmMmE1NTYxZWExMTRlYQ=="
registry=http://localhost:4873
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true