//localhost:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJiaWFueGsiXSwibmFtZSI6ImJpYW54ayIsImdyb3VwcyI6WyJiaWFueGsiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzQyNDU5OTgzLCJuYmYiOjE3NDI0NTk5ODMsImV4cCI6MTc0MjQ2MzU4M30.Zu30dT4MUq1CZsgX02CrGy1czeIm783v5VRK8wre8BA
registry=http://localhost:4873