//localhost:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJiaWFueGsiXSwibmFtZSI6ImJpYW54ayIsImdyb3VwcyI6WyJiaWFueGsiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzQyNDYxNjgzLCJuYmYiOjE3NDI0NjE2ODMsImV4cCI6MTc0MjQ2NTI4M30.SMAknfVIBDbd_E7jtWcD1bnhV3W7Cri6VYH63uEDwUY
registry=http://localhost:4873